footer.footer
  .container
    .footer_inner
      p.footer__copy
        | &copy; 2016 MoGo free PSD template by 
        span.designer_name Laaqiq
      form.footer__form(action='#')
        input.input_email(type='email' placeholder='Enter your Email...')
        button.footer__button-subscribe SUBSCRIBE