doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Homework 11
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include header
        block content
        block footer
            include footer

