/* * {
  outline: 1px solid red;
} */

body {
  margin: 0;
}
.container {
  width: 900px;
  margin: 0 auto;
}

/* HEADER */

.nav {
  padding: 75px 0;
}

.nav-menu {
  text-align: justify;
  margin: 0;
  padding-inline-start: 0;
  font-size: 0;
  line-height: 0;
}

.nav-menu:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

.nav-item {
  display: inline-block;
  text-align: left;
  line-height: normal;
}

.nav-link {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Playfair Display, serif;
}

.nav-link:hover,
.nav-link:focus {
  color: #03a9f4;
}


/* MAIN */

section {
  font-size: 0;
  padding-bottom: 55px
}

.article:nth-child(even) {
  margin-right: 0;
}

.article {
  display: inline-block;
  margin: 0 60px 55px 0;
  width: 420px;
  text-align: left;
}

.article-img {
  margin-bottom: 30px;
}

.article-category {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
  font-weight: lighter;
  color: #b4ad9e;
  margin: 0 0 30px;
}

.article-heading {
  font-family: Playfair Display, serif;
  font-size: 30px;
  color: #626262;
  font-weight: normal;
  margin: 0 0 40px;
}

.article-text {
  color: #626262;
  font-size: 14px;
  font-family: Playfair Display, serif;
  margin: 0;
}

.button {
  display: block;
  margin: auto;
  padding: 21px 33px;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  color: #626262;
  font-size: 20px;
  font-family: Playfair Display, serif;
  background-color: #fff;
}
