@media (min-width: 960px) {
    .container {
        max-width: 942px;
    }
    
    .partner-item {
        margin: 0 0 20px;
    }
    .partner-item:nth-last-child(n) {
        margin-bottom: 0;
    }
}