// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$font-color-dark: #333;
$font-color-light: #999;
$font-color-header: #fff;
$color-accent-line: #f38181;
$color-icon: #95e1d3;
$color-hover-link: #fce38a;

$ff-montserrat: "Montserrat";
$ff-kaushan: "Kaushan Script";
$ff-roboto: "Roboto";
