section.services
  .container
    h2.services__title
      span.services__subtitle We work with 
      |  amazing services
    ul.services__list
      li.services__list_item
        svg.services__list_item-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-alarm')
        h3.services__list_item-title photography
        p.services__list_item-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Deleniti doloremque
      li.services__list_item
        svg.services__list_item-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-graph')
        h3.services__list_item-title web design
        p.services__list_item-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Deleniti doloremque
      li.services__list_item
        svg.services__list_item-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-computer')
        h3.services__list_item-title creativity
        p.services__list_item-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Deleniti doloremque
      li.services__list_item
        svg.services__list_item-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-book')
        h3.services__list_item-title seo
        p.services__list_item-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Deleniti doloremque
      li.services__list_item
        svg.services__list_item-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-home')
        h3.services__list_item-title css/html
        p.services__list_item-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Deleniti doloremque
      li.services__list_item
        svg.services__list_item-icon(width='32' height='32')
          use(href='img/sprite/sprite.svg#icon-image')
        h3.services__list_item-title digital
        p.services__list_item-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit.
          | Deleniti doloremque
    