section.team
  .container
    span.team__subtitle Who we are
    h2.team__title meet our team
    p.team__text
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla
      | praesentium, error veniam sapiente itaque vero, doloribus molestiae
      | tempore recusandae accusamus quidem cupiditate delectus commodi
      | reprehenderit ea? Praesentium totam aut eum.
    ul.team__members_list
      li.team__members_card
        .overlay-bg
          picture.team__members_photo
            source(srcset='img/member1-min@2x.jpg 2x')
            img(src='img/member1-min.jpg' alt='#')
          .overlay
            ul.team__socials_list
              li.team__socials_item
                a.team__socials_link(href='https://www.facebook.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-facebook')
                  span.hidden-mean Link to Facebook
              li.team__socials_item
                a.team__socials_link(href='https://twitter.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-twitter')
                  span.hidden-mean Link to Twitter
              li.team__socials_item
                a.team__socials_link(href='https://www.pinterest.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-pinterest')
                  span.hidden-mean Link to Pinterest
              li.team__socials_item
                a.team__socials_link(href='https://www.instagram.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-instagram')
                  span.hidden-mean Link to Instagram
        p.team__members_name Matthew Dix
        p.team__members_position Graphic Design
      li.team__members_card
        .overlay-bg
          picture.team__members_photo
            source(srcset='img/member2-min@2x.jpg 2x')
            img(src='img/member2-min.jpg' alt='#')
          .overlay
            ul.team__socials_list
              li.team__socials_item
                a.team__socials_link(href='https://www.facebook.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-facebook')
                  span.hidden-mean Link to Facebook
              li.team__socials_item
                a.team__socials_link(href='https://twitter.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-twitter')
                  span.hidden-mean Link to Twitter
              li.team__socials_item
                a.team__socials_link(href='https://www.pinterest.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-pinterest')
                  span.hidden-mean Link to Pinterest
              li.team__socials_item
                a.team__socials_link(href='https://www.instagram.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-instagram')
                  span.hidden-mean Link to Instagram
        p.team__members_name Christopher Campbell
        p.team__members_position Branding/UX design
      li.team__members_card
        .overlay-bg
          picture.team__members_photo
            source(srcset='img/member3-min@2x.jpg 2x')
            img(src='img/member3-min.jpg' alt='#')
          .overlay
            ul.team__socials_list
              li.team__socials_item
                a.team__socials_link(href='https://www.facebook.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-facebook')
                  span.hidden-mean Link to Facebook
              li.team__socials_item
                a.team__socials_link(href='https://twitter.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-twitter')
                  span.hidden-mean Link to Twitter
              li.team__socials_item
                a.team__socials_link(href='https://www.pinterest.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-pinterest')
                  span.hidden-mean Link to Pinterest
              li.team__socials_item
                a.team__socials_link(href='https://www.instagram.com/')
                  svg.team-social-icon(width='32' height='32')
                    use(href='img/sprite/sprite.svg#icon-instagram')
                  span.hidden-mean Link to Instagram
        p.team__members_name Michael Fertig 
        p.team__members_position Developer